<footer class="text-center border-top footer">
  <!-- Grid container -->
  <div class="container-fluid pt-4">
      <!-- Section: Social media -->
      <div class="col mb-4 py-1 icons">
          <!-- Facebook -->
          <a class="btn btn-link btn-floating btn-sm text-info m-1" href="#!" role="button"
              data-mdb-ripple-color="white"><i class="bi bi-facebook"></i></a>

          <!-- Twitter -->
          <a class="btn btn-link btn-floating btn-sm text-info m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="bi bi-twitter"></i></a>

          <!-- Google -->
          <a class="btn btn-link btn-floating btn-sm text-info m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="bi bi-google"></i></a>

          <!-- Instagram -->
          <a class="btn btn-link btn-floating btn-sm text-info m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="bi bi-instagram"></i></a>

          <!-- Linkedin -->
          <a class="btn btn-link btn-floating btn-sm text-info m-1" href="#!" role="button"
              data-mdb-ripple-color="dark"><i class="bi bi-linkedin"></i></a>
          <!-- Github -->
          <a class="btn btn-link btn-floating btn-sm text-info m-1" href="https://github.com/GabyyOliveira"
              role="button" data-mdb-ripple-color="dark"><i class="bi bi-github"></i></a>
      </div>
      <!-- Section: Social media -->
  </div>
  <!-- Grid container -->


  <!-- Copyright -->
  <div class="text-center text-dark p-3 copy fw-bolder">
      © 2021
      <a class="text-dark" href="https://github.com/GabyyOliveira" style="text-decoration: none;">Gabyy Oliveira</a>
  </div>
  <!-- Copyright -->
</footer>
