.table{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 80%;
  background-color: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}
.table th{
  color: #950101;
}
.tituloModal{
  background-color: #ff000f;
  color: white;
}
button{
  background-color: #ff000f;
  color: #dde1e7;
  border: none;
  border-radius: 15px;
  height: 40px;
}
.buttons{
  margin-left: 4.2rem;
}
.cancela{
  background-color: darkgrey;
  margin-right: 5px;
}
.minhaModal{
  width: 300px;
  height: 150px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dde1e7;
  box-shadow:  -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);

}
.card{
  background: #dde1e7;
  border-radius: 20px;
  box-shadow: inset 10px 10px 20px rgba(94, 104, 121, .288),inset -10px -10px 20px #ffffff89;
}
.card img{
  width: 200px;
  margin-left: 3rem;
}
.card a{
  text-decoration: none;
  color: #ff000f;
  cursor: pointer;
}
.card a i{
  color: #ff000f;
}
