
<section class="logo">
  <div class="container-fluid">
    <img src="assets\banner8.png" class="text-center">
  </div>
</section>
<section class="section2">
  <div class="section2-card">
      <img src="assets/movie.svg">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipsio gdteo</p>
  </div>
  <div class="section2-card">

      <img src="assets/Night.svg">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipsio gdteo</p>
  </div>
  <div class="section2-card">
      <img src="assets/Film.svg">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipsio gdteo</p>
  </div>
  <div class="section2-card">
      <img src="assets/amico.svg">
      <h4>Lorem ipsum</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipsio gdteo</p>
  </div>
</section>
<h1>Mais assistidos</h1>
<div class="container2 d-flex flex-wrap justify-content-center">
  <div class="card mt-4 mx-3" style="width: 18rem;" *ngFor="let item of movies">
  <img [src]="item.foto" class="card-img-top p-4" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">{{item.nome}}</h5>
    <p class="card-text text-center">{{item.diretor}}</p><br>
    <a (click)="editar(item.id)" class="mx-2 fw-bolder"><i class="bi bi-pencil-square"></i>Editar</a>
    <a (click)='mostrarModal(item.id)' class="fw-bolder" ><i class="bi bi-trash-fill"></i>Excluir</a>
    <br><br>
  </div>
</div>
</div>
<div *ngIf="isModal">
  <div class="minhaModal">
    <div class="tituloModal">
      <h5 class="text-center">Aviso!</h5>
    </div>
    <h6 class="my-4 text-center">Confirma essa operação?</h6>
    <div class="buttons">
      <button class="cancela" (click)="cancelarAcao()">Cancelar</button>
      <button class="confirma" (click)="confirmarAcao()">Confirmar</button>
    </div>
  </div>
</div>



