
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a routerLink="/home"><img src="assets/logo.png" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <div class="d-flex links ">
        <a class="nav-link active text-center mx-3 home fw-bolder" aria-current="page" routerLink="/home">Home</a>
        <a class="nav-link active text-center mx-3 movies fw-bolder" aria-current="page" routerLink="/lista">Movies</a>
        <a class="nav-link active text-center cad mx-2 fw-bolder" aria-current="page" routerLink="/add">Cadastrar Filmes</a>
      </div>
    </div>
  </div>
</nav>
